$bcg-color: white;
$font-color: grey;
$placeholder-color: silver;
$focus-border-color: silver;
.form-control {
    position: relative;
    margin-bottom: 24px;
}

.input,
.select,
.textarea {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    background-color: $bcg-color;
    color: $font-color;
    margin: 0;
    border-radius: 0;
    font-size: inherit;
    &:focus,
    &:disabled {
        outline: none;
        background-color: $bcg-color;
        color: $font-color;
        border-color: $focus-border-color
    }
    &::placeholder {
        color: $placeholder-color
    }
}

.input {
    height: 40px;
}

.textarea {
    resize: none;
    height: 200px;
}