/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px;
}

.row>.column {
    padding: 10px;
}

.row-large {
    margin: -50
}

.row-large>.column {
    padding: 50px;
}

.column-expertise {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 39px;
    margin-bottom: 39px;
}

.work-navigation {
    text-align: center;
}

.row>.column-gallert {
    padding: 0px;
}

.brand {
    margin-top: 47px;
}

.row-brand {
    margin: -35px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.row-brand>.column {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.column-logo {
    margin-right: 100px;
}

.row>.grid-item-expertise:not(:nth-child(3n)) {
    border-right: 1px solid #dfdfdf;
}

.row>.grid-item-expertise-bottom {
    border-bottom: 1px solid #dfdfdf;
}