.head-nav {
    display: block
}

.nav .nav-item {
    color: black;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 0 17px;
}

.nav .nav-item:hover {
    -webkit-text-decoration: underline tomato 3px;
    text-decoration: underline tomato 3px;
}

.nav .is-active {
    -webkit-text-decoration: underline tomato 3px;
    text-decoration: underline tomato 3px;
}

.head-nav {
    float: right;
}

.head-nav ul {
    margin: 0;
    padding: 0;
}

.head-nav ul li {
    display: inline-block;
}

.head-nav ul li a {
    color: #6C6C6C;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0px 20px 0px 20px;
    display: block;
    padding: 1.1em 0.3em;
}

.head-nav ul li a:hover,
.head-nav ul li.active a {
    border-bottom: 3px solid tomato;
    color: tomato;
}